{% extends "bnet/base.html" %}
{% block sb_admin_title %}Tutti gli hotel{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url 'bnet:index' %}">Panoramica</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}

<h2>Sono state salvate le recensioni di {{hotels|length}} strutture</h2>
{% endblock sb_admin_content %}
