{% extends "django_sb_admin/base.html" %}
{% load static %}
{% block sb_admin_header %}<i class="fa fa-tripadvisor"></i> TripAdvisor sentiment analysis{% endblock sb_admin_header %}
{% block sb_admin_navbar_right %}{% endblock sb_admin_navbar_right %}
{% block sb_admin_sidebar %}<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li {% if nav_active == "index" %}class="active"{% endif %}>
            <a href="{% url "bnet:index" %}"><i class="fa fa-fw fa-dashboard"></i> Panoramica</a>
        </li>
        <li {% if nav_active == "hotel_list" %}class="active"{% endif %}>
            <a href="{% url "bnet:hotel_list" %}"><i class="fa fa-fw fa-bed"></i> Elenco hotel</a>
        </li>
        <li {% if nav_active == "testing_hotel_list" %}class="active"{% endif %}>
            <a href="{% url "bnet:testing_hotel_list" %}"><i class="fa fa-fw fa-check-circle"></i> Elenco hotel di test</a>
        </li>
    </ul>
</div>{% endblock sb_admin_sidebar %}
{% block sb_admin_content %}{% endblock sb_admin_content %}
