{% extends "bnet/base.html" %}
{% load humanize %}
{% load static %}
{% block sb_admin_title %}{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_custom_css %}
<link href="{% static "c3/c3.css"%}" rel="stylesheet" type="text/css">
{% endblock sb_admin_custom_css %}
{% block sb_admin_breadcrumb %}{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="panel panel-blue">
<div class="panel-heading">
    <div class="row">
        <div class="col-xs-3">
            <i class="fa fa-bed fa-4x"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge">{{hotels|intcomma}}</div>
            <div>Hotel disponibili</div>
        </div>
    </div>
</div>
<a href="#">
    <div class="panel-footer">
        <a href="{% url 'bnet:hotel_list' %}"><span class="pull-left">Vai all'elenco</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
        <div class="clearfix"></div>
    </div>
</a>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="panel panel-green">
<div class="panel-heading">
    <div class="row">
        <div class="col-xs-3">
            <i class="fa fa-comments fa-4x"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge">{{reviews|intcomma}}</div>
            <div>Recensioni di training</div>
        </div>
    </div>
</div>
<a href="#">
    <div class="panel-footer">
        <span class="pull-left">Su {{total_reviews}} recensioni totali</span>
        <div class="clearfix"></div>
    </div>
</a>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="panel panel-yellow">
<div class="panel-heading">
    <div class="row">
        <div class="col-xs-3">
            <i class="fa fa-font fa-4x"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge">{{terms|intcomma}}</div>
            <div>Vocaboli salvati</div>
        </div>
    </div>
</div>
<a href="#">
    <div class="panel-footer">
        <span class="pull-left">Di cui 700 nel modello</span>
        <div class="clearfix"></div>
    </div>
</a>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="panel panel-red">
<div class="panel-heading">
    <div class="row">
        <div class="col-xs-3">
            <i class="fa fa-dashboard fa-4x"></i>
        </div>
        <div class="col-xs-9 text-right">
            <div class="huge">{{ratio|floatformat}}%</div>
            <div>Precisione modello</div>
        </div>
    </div>
</div>
<a href="#">
    <div class="panel-footer">
        <span class="pull-left">Su {{testing_reviews}} recensioni di test</span>
        <div class="clearfix"></div>
    </div>
</a>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Distribuzione delle valutazioni
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div id="chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-group fa-fw"></i>
                Autori del progetto
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                          <img src="{% static "img/batman.png"%}" alt="User Avatar" class="img-circle" width="50px">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Fabrizio Romano</strong> | 705213
                            </div>
                            <p>PM & Django development</p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="{% static "img/female.png"%}" alt="User Avatar" class="img-circle" width="50px">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Nausica Ceresa</strong> | 708917
                            </div>
                            <p>Bayesian network</p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="{% static "img/male2.png"%}" alt="User Avatar" class="img-circle" width="50px">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Michele Bellini</strong> | 708879
                            </div>
                            <p>UX design</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel .chat-panel -->
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-code fa-fw"></i>
                Tecnologie utilizzate
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul style="list-style-type: none;padding-left:0">
                  <li>MVC framework: <a href="http://djangoproject.com" target="_blank">Django</a></li>
                  <li>BN engine: <a href="http://pythonhosted.org/libpgm/" target="_blank">libpgm</a></li>
                  <li>Grafici: <a href="http://c3js.org" target="_blank">c3.js</a></li>
                  <li>Responsive UX: <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
<script src="{% static "c3/d3.v3.min.js"%}"></script>
<script src="{% static "c3/c3.min.js"%}"></script>
<script type="text/javascript">
$(function() {

  var chart = c3.generate({
      //bindTo: "#chart",
      data: {
        columns: [
          [ 'N. di valutazioni',
            {% for c in counter %}
            {{c}},
            {% endfor %}
          ]
        ],
        type: 'bar',
        colors: {
              'N. di valutazioni': '#32a0ee',
        },
      },
      axis : {
        x : {
            type : 'category',
            categories: ['1 stella', '2 stelle', '3 stelle', '4 stelle', '5 stelle'],
        }
      }
  });

});
</script>
{% endblock sb_admin_custom_js %}
