{% extends "bnet/base.html" %}
{% load static %}
{% block sb_admin_title_text %}Elenco hotel di test{% endblock sb_admin_title_text %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}
{% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url 'bnet:index' %}">Panoramica</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
<i class="fa fa-angle-right"></i> <span class="hotel-title"><b>Elenco hotel di test</b></span>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}

{% for hotel in hotel_list %}
<div class="hotel-list-single row">
  <div class="col-lg-2 hotel-pic-wrapper">
    <div class="hotel-pic">
      <img src="{% static 'img/'%}{{hotel.get_image_name}}" style="height: 200px; width: 301px; margin-left: -70px;">
    </div>
  </div>
  <div class="hotel-details col-lg-10">
    <div class="row">
      <div class="hotel-info col-lg-8">
        <h3><a href="{% url 'bnet:testing_hotel_detail' hotel.pk %}">{{hotel.name}}</a></h3>
        {% load get_range %}
        <p class="big">
          <b>Media valutazioni: </b>
          <span class="stars">
          {% for full_star in hotel.get_stars.full_stars|get_range %}
          <i class="fa fa-star"></i>
          {% endfor %}
          {% if hotel.get_stars.half_star > 0 %}
            <i class="fa fa-star-half-o"></i>
          {% endif %}
          {% for empty_star in hotel.get_stars.empty_stars|get_range %}
            <i class="fa fa-star-o"></i>
          {% endfor %}
          </span>
          <span class="count-reviews">({{hotel.count_reviews}} recensioni)</span>
        </p>
        <div><b>Miglior recensione:</b></div>
        <div>
          <span class="stars">
          {% for full_star in hotel.get_best_review.get_stars.full_stars|get_range %}
          <i class="fa fa-star"></i>
          {% endfor %}
          {% if hotel.get_best_review.get_stars.half_star > 0 %}
            <i class="fa fa-star-half-o"></i>
          {% endif %}
          {% for empty_star in hotel.get_best_review.get_stars.empty_stars|get_range %}
            <i class="fa fa-star-o"></i>
          {% endfor %}
          </span>
        </div>
        <div><span class="review-text">&laquo;{{hotel.get_best_review.content|truncatechars:150}}&raquo;</span></div>
      </div>
      <div class="hotel-links col-lg-4">
        <button class="ui_button original large w100p" onclick="window.location = '{% url 'bnet:testing_hotel_detail' hotel.pk %}'">Dettagli hotel</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="container-fluid">
  <div class="row hotel-list-single">
    <div class="col-lg-12">
        <div class="pagination">
            <span class="page-links">
                {% if hotel_list.has_previous %}
                    <a class="pull-left ui_button primary" href="{% url 'bnet:testing_hotel_list' %}?page={{ hotel_list.previous_page_number }}"><i class="fa fa-angle-left"></i> previous</a>
                {% endif %}
                {% if not hotel_list.has_previous %}
                    <button disabled class="pull-left ui_button primary disabled"><i class="fa fa-ban"></i> precedente</button>
                {% endif %}
                <span class="page-current">
                    Pagina {{ hotel_list.number }} di {{ hotel_list.paginator.num_pages }}.
                </span>
                {% if hotel_list.has_next %}
                    <a class="pull-right ui_button primary" href="{% url 'bnet:testing_hotel_list' %}?page={{ hotel_list.next_page_number }}">successiva <i class="fa fa-angle-right"></i></a>
                {% endif %}
            </span>
        </div>
      </div>
    </div>
</div>
{% endblock sb_admin_content %}
