{% extends "bnet/base.html" %}
{% load get_range %}
{% load static %}
{% block sb_admin_title %}
{% endblock sb_admin_title %}
{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

{% block sb_admin_custom_css %}
<link href="{% static "c3/c3.css"%}" rel="stylesheet" type="text/css">
{% endblock sb_admin_custom_css %}

{% block sb_admin_breadcrumb %}<i class="fa fa-list"></i>  <a href="{% url 'bnet:testing_hotel_list' %}">Elenco hotel</a>{% endblock sb_admin_breadcrumb %}
{% block sb_admin_breadcrumb_active %}
<i class="fa fa-angle-right"></i> <span class="hotel-title"><b>{{hotel.name}}</b></span>
{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<h2><span class="hotel-title">Testing {{hotel.name}}</span></h2>
<p class="bigger">
  <span class="stars">
  {% for full_star in hotel.get_stars.full_stars|get_range %}
  <i class="fa fa-star"></i>
  {% endfor %}
  {% if hotel.get_stars.half_star > 0 %}
    <i class="fa fa-star-half-o"></i>
  {% endif %}
  {% for empty_star in hotel.get_stars.empty_stars|get_range %}
    <i class="fa fa-star-o"></i>
  {% endfor %}
  </span>
  <span class="count-reviews">({{hotel.count_reviews}} recensioni)</span>
</p>
<p class="dark grey"><i class="fa fa-map-marker"></i> Via Galattica per Autostoppisti, 42 - Loonquawl</p>
<div class="hotel-list-single row">
  <div class="col-lg-4 hotel-pic-wrapper">
    <div class="hotel-pic detail">
      <img src="{% static 'img/'%}{{hotel.get_image_name}}" style="height: 200px; width: 301px;">
    </div>
  </div>
  <div class="hotel-details col-lg-4">
    <div class="row">
      <div class="hotel-info col-lg-12">
        <h3><a href="{% url 'bnet:hotel_detail' hotel.pk %}">{{hotel.name}}</a></h3>
        {% load get_range %}
        <p class="big">
          <b>Media valutazioni: </b>
          <span class="stars">
          {% for full_star in hotel.get_stars.full_stars|get_range %}
          <i class="fa fa-star"></i>
          {% endfor %}
          {% if hotel.get_stars.half_star > 0 %}
            <i class="fa fa-star-half-o"></i>
          {% endif %}
          {% for empty_star in hotel.get_stars.empty_stars|get_range %}
            <i class="fa fa-star-o"></i>
          {% endfor %}
          </span>
          <br><span>({{hotel.count_reviews}} recensioni)</span>
        </p>
        <div><b>Miglior recensione:</b></div>
        <div>
          <span class="stars">
          {% for full_star in hotel.get_best_review.get_stars.full_stars|get_range %}
          <i class="fa fa-star"></i>
          {% endfor %}
          {% if hotel.get_best_review.get_stars.half_star > 0 %}
            <i class="fa fa-star-half-o"></i>
          {% endif %}
          {% for empty_star in hotel.get_best_review.get_stars.empty_stars|get_range %}
            <i class="fa fa-star-o"></i>
          {% endfor %}
          </span>
        </div>
        <div><span class="review-text">&laquo;{{hotel.get_best_review.content|truncatechars:80}}&raquo;</span></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div id="chart"></div>
    <p style="margin:0"><center>PRECISIONE MODELLO</center></p>
  </div>
</div>
<div class="hotel-list-single review row">
<div class="col-sm-12">
  <form id="add-review" method="post" action="{% url 'bnet:estimate_sentiment' %}">
  {% csrf_token %}
  <div class="form-group">
      <label for="content" class="col-sm-3 control-label">Lascia una recensione</label>
      <div class="col-sm-9">
        <textarea class="content form-control" name="content" rows="5" placeholder="Scrivi la tua recensione!"></textarea>
        <span class="form-stars-label">Valutazione suggerita: </span>
        <span class="stars big form-stars">
          <i class="fa fa-ban"></i>
        </span>
      </div>
  </div>
  </form>
</div>
<div class="col-xs-12">
<h3 class="green">{{hotel.count_reviews}} recensioni della community TripAdvisor</h3>
{% for review in review_list %}
{% if review.content|length > 0 %}
<div class="review row">
  <div class="col-lg-1">
    <span class="fa-stack-3x fa-3x">
      <i class="fa fa-circle fa-stack-2x grey"></i>
      <i class="fa fa-user fa-stack-1x white"></i>
    </span>
  </div>
  <div class="col-lg-11">
    <div class="review-box">
      <div class="review-box-inner">
        {% load get_range %}
        <span class="stars big">
        {% for full_star in review.get_stars.full_stars|get_range %}
        <i class="fa fa-star"></i>
        {% endfor %}
        {% if review.get_stars.half_star > 0 %}
          <i class="fa fa-star-half-o"></i>
        {% endif %}
        {% for empty_star in review.get_stars.empty_stars|get_range %}
          <i class="fa fa-star-o"></i>
        {% endfor %}
        </span>
        <p>{{review.content}}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if review_list.has_previous %}
            <a href="?page={{ review_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ review_list.number }} of {{ review_list.paginator.num_pages }}.
        </span>

        {% if review_list.has_next %}
            <a href="?page={{ review_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock sb_admin_content %}
{% block sb_admin_custom_js %}
<script src="{% static "c3/d3.v3.min.js"%}"></script>
<script src="{% static "c3/c3.min.js"%}"></script>
<script type="text/javascript">
$(function() {
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();
  $("textarea[name='content']").keyup(function() {
      delay(function(){
        var content = $("textarea[name='content']").val();
        $.ajax({
          type: "POST",
          url: "{% url 'bnet:estimate_sentiment' %}",
          data: {"content": content},
          beforeSend: function(xhr, settings) {
            var csrftoken = $("input[name='csrfmiddlewaretoken']").val()
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            $(".form-stars").html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
          },
          success: function(result) {
            var stars = result.estimate;
            if(stars>0) {
              var html = "";
              for (var s=0;s<stars;s++) {
                html += '<i class="fa fa-star"></i>'
              }
              for (var h=0;h<5-stars;h++) {
                html += '<i class="fa fa-star-o"></i>'
              }
              $(".form-stars").html(html);
            } else {
              $(".form-stars").html("<i class='fa fa-lightbulb-o'></i> Non riesco a capire cosa ne pensi. Dimmi qualcosa di più!");
            }
          },
          dataType: 'json'
        });
      }, 500 );
  });


var chart = c3.generate({
    bindTo: "#chart",
    data: {
        columns: [
            ['Precisione', 0]
        ],
        type: 'gauge',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    color: {
        pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
        threshold: {
            values: [15, 30, 60, 100]
        }
    },
    size: {
        height: 150
    }
});

setTimeout(function () {
    chart.load({
        columns: [['Precisione', {{success_ratio|floatformat}}]]
    });
}, 500);
});
</script>
{% endblock sb_admin_custom_js %}
