/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

a {
  color: #069;
  text-decoration: none;
}

.green {
  color: #54943c;
}

.grey {
  color: #dedede;
}

.dark.grey {
  color: #666;
}

.white {
  color: white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f4f3f0;
    color: #2c2c2c;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
    background-color: #4B7E37;
}

.navbar-collapse {
  background-color: #4B7E37;
  color: #ffffff;
}

.navbar-collapse li a,
.navbar-header a.navbar-brand {
  color: #fff;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-blue {
    border-color: rgb(50, 160, 238);
}

.panel-blue > .panel-heading {
    border-color: rgb(50, 160, 238);
    color: #fff;
    background-color: rgb(50, 160, 238);
}

.panel-blue > a {
    color: rgb(50, 160, 238);
}

.panel-blue > a:hover {
    color: rgb(40, 150, 228);
}

.panel-green {
    border-color: rgb(165, 199, 3);
}

.panel-green > .panel-heading {
    border-color: rgb(165, 199, 3);
    color: #fff;
    background-color: rgb(165, 199, 3);
}

.panel-green > a {
    color: rgb(165, 199, 3);
}

.panel-green > a:hover {
    color: rgb(155, 189, 3);
}

.panel-red {
    border-color: rgb(214, 39, 40);
}

.panel-red > .panel-heading {
    border-color: rgb(214, 39, 40);
    color: #fff;
    background-color: rgb(214, 39, 40);
}

.panel-red > a {
    color: rgb(214, 39, 40);
}

.panel-red > a:hover {
    color: rgb(204, 29, 30);
}

.panel-yellow {
    border-color: rgb(232, 163, 35);
}

.panel-yellow > .panel-heading {
    border-color: rgb(232, 163, 35);
    color: #fff;
    background-color: rgb(232, 163, 35);
}

.panel-yellow > a {
    color: rgb(232, 163, 35);
}

.panel-yellow > a:hover {
    color: rgb(222, 153, 25);
}

.hotel-list-single {
  background-color: #ffffff;
  border: 1px solid #eceae2;
  border-bottom-color: #dad7c8;
  margin-bottom: 15px;
}

.hotel-list-single .hotel-pic {
  padding-top:0;
  background-color: #54943c;
  width: 160px;
  height: 200px;
  float: left;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  border: 1px solid #fff;
  overflow: hidden;
}

.hotel-list-single .hotel-pic.detail {
  width: 301px;
}
.hotel-list-single .hotel-pic-wrapper {
  padding-left: 0;
}

.hotel-list-single .hotel-details {
  display: inline;
}

.hotel-list-single .hotel-details h3,
span.hotel-title {
  text-transform: capitalize;
  font-weight: bold;
}

.hotel-list-single .review-text {
  font-family: Georgia, serif;
  font-style: italic;
}

.hotel-list-single .hotel-links {
  padding-top: 75px;
}

p.big {
  font-size: 120%;
}

p.bigger {
  font-size: 140%;
}
.stars {
  color: #54943c;
}

.count-reviews {
  padding-left: 15px;
}

.ui_button {
    position: relative;
    display: inline;
    padding: 9px 16px 8px;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.ui_button.original {
    border-color: #fc0 #e4a000 #e4a000 #fc0;
    background-color: #fc0;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.15);
    color: #000;
}

.ui_button.large {
    padding: 11px 22px 10px;
    font-size: 16px;
    line-height: 19px;
}

.ui_button.primary {
  border-color: #589442 #2f582c #2f582c #589442;
  background-color: #589442;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.25);
  color: #fff;
}

.ui_button.disabled {
  border-color: #ccc #999 #999 #ccc;
  background-color: #dedede;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.25);
  color: #666;
}

.review-box {
  border: 4px solid #f1f1f1;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 20px;
}

.review-box-inner {
  background-color: #ffffff;
  border: 1px solid #eceae2;
  border-bottom-color: #dad7c8;
  margin-bottom: 15px;
  padding: 10px;
  margin-bottom: 0;
}

.review-box-inner:after {
  display: block;
  position: absolute;
  top: 25px;
  left: 5px;
  width: 0;
  border-style: solid;
  border-color: transparent #fff;
  border-color: rgba(255,255,255,0) #fff;
  border-width: 13px 15px 13px 0;
  content: "";
}

.review-box-inner:before {
  display: block;
  position: absolute;
  top: 25px;
  left: 4px;
  width: 0;
  border-style: solid;
  border-color: transparent #E3E3E3;
  border-color: rgba(255,255,255,0) #e3e3e3;
  border-width: 13px 15px 13px 0;
  content: "";
}

.hotel-list-single.review {
  padding: 15px;
  padding-top:0;
}

.pagination {
  display: block;
  margin: 0;
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

.review .fa-stack-3x .fa-user {
  margin-top: 10px;
}

.form-stars,
.form-stars-label {
  font-size: 16px;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}
.navbar-inverse {
    border-bottom: 0px !important;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
